.newTask {
  background: #f29ba2;
  position: fixed; 
  justify-content: space-between;
  align-items: center;
  display: flex;
  top: 0;
  /*padding: 5% 2%;*/
  border-right: 2px solid lightgray;
  z-index: 100;
  width: 20%;
  left: 0;
  height: 100%;
}