.taskList {
  padding: 20px;
}

.taskList h1 {
  margin-bottom: 20px;
}

.taskColumns {
  display: flex;
  flex-direction: column;
}

.task {
  background-color: #f4f4f4;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.task h3 {
  margin-bottom: 5px;
}


.task.priority-1 {
  background-color: red;
}

.task.priority-2 {
  background-color: salmon; 
}

.task.priority-3 {
  background-color: yellow;
}

.task.priority-4 {
  background-color: greenyellow; 
}

.task.priority-5 {
  background-color: lightgreen; 
}
